#Eclipse files
*.DS_Store
*.classpath
*.project
*.settings
*.class
src/main/java/*.class
bin

#test
src/main/java/test.java
test.java

#logs


#data preparation class till doing it
src/Preparation.java

#DATASETs
src/main/resources/data/*.*
*.csv

#libraries
src/main/resources/lib/*.*

#output files (cubes/schemas/observations)
src/main/resources/output/*.*

#tarql
tarql/*
/tarql
tarql

